#head1
{
  margin-left: 600px;
  padding-bottom: 50px;
  padding-top: 90px;
}
#form1
{
  margin-left: 300px;
}
#backg
{
  background-image: url('/assets/images/pexels-vishnu-r-nair-1105666.jpg');
  background-size: cover;
}
#button1
{
  margin-left: 350px;
  margin-bottom: 150px;
}
