<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/app/common-components/about-us/about-us.component.scss">
</head>
<body>
  <section id="about" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>About Us</h2>
                <p>Welcome to GKMusic, your source for high-quality music production and audio services. We are a passionate team of musicians, producers, and sound engineers dedicated to bringing your musical vision to life.</p>
                <p>Our mission is to provide you with the best tools and expertise to create outstanding music. Whether you're an aspiring artist or a seasoned professional, we have the resources and knowledge to help you succeed in the music industry.</p>
                <p>At GKMusic, we value creativity, innovation, and the pursuit of musical excellence. We're here to support your musical journey every step of the way.</p>
            </div>
            <div class="col-lg-6">
                <img src="/assets/images/pexels-pixabay-164938.jpg" alt="About Us Image" class="img-fluid rounded-circle">
            </div>
        </div>
      </div>
</section>
</body>
</html>
