<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="/src/app/shared/header/header.component.scss">
</head>
<body>
    <div class="row">

      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a href="#"><img class="img1" src="assets/images/GKMusic Logo.jpg" alt="loading"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <a class="gk" href="#">GKMusic</a>
            <ul id="ul1" class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li id="li1" class="nav-item">
                <a  class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li id="li2" class="nav-item">
                <a class="nav-link "  (click)="routeToComponent('about')">About us</a>
              </li>
              <li id="li3" class="nav-item">
                <a class="nav-link"  (click)="routeToComponent('contact') ">Contact us</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    </div>

</body>
</html>
