.img1
{
    width: 90px;
    display: flex;
    z-index: 4;
    margin-top: -5px;
    margin-left: 50px;
}
#ul1
{
  margin-left: 450px;
}
#li1
{
  padding-right: 40px;
}
#li2
{
  padding-right: 40px;
}
.gk
{
  padding-left: 20px;
  color: darkcyan;
  font-size: 30px;
}

