/* Apply some basic styles to make the page responsive */
#div1 {
  margin-top: 200px;
  margin-bottom: 200px;
}
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.hero {
  background-image: url("/assets/images/pexels-pixabay-164938.jpg");
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  font-size: 2.5em;
}

.hero p {
  font-size: 1.5em;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.featured {
  padding: 40px 0;
}

.track {
  text-align: center;
  margin: 20px;
}
img {
  width: 400px;
  height: 400px;
}

/* You can add more CSS styles to customize your website further */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.card-body {
  align-items: center;
  text-align: center;
}
.song-card {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 150px;
}
