<section class="hero">
  <div id="div1" class="container">
    <h2>Welcome to GKMusic</h2>
    <p>Your source for amazing music production.</p>
    <a href="#" class="btn">Explore Music</a>
  </div>
</section>
<div class="title">
  <h3>Featured Tracks</h3>
</div>
<div class="song-card">
  <div class="row my-5">
    <div class="col mx-auto" *ngFor="let song of songs">
      <div class="card" style="width: 18rem">
        <img
          [src]="song.img"
          class="card-img-top"
          alt="..."
          style="width: 100%"
        />
        <div class="card-body">
          <h5 class="card-title">{{ song.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
