<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/src/app/shared/footer/footer.component.scss">
</head>
<body>
   <!-- Footer -->
   <footer class="box">
    <div id="grid2">
      <div>
        <!-- Footer-links -->
        <ul class="whlist">
          <li><strong>
              <!-- Footer Header -->
              <h4 class="hcolor">ABOUT</h4>
            </strong></li>
          <li class="wrap">"Music can change the world".
            GKMusic is India's No.1 Music label
            company, believes in bringing world
            close together through its music.
          </li>
        </ul>
      </div>
      <div>
        <!-- Footer-links -->
        <ul id="list4">
          <li><strong>
              <!-- Footer Header -->
              <p class="hcolor">SERVICES</p>
            </strong></li>
          <li><a id="alist4" href="#"><i aria-hidden="true"></i> Music Production</a></li>
          <li><a id="alist4" href="#"><i aria-hidden="true"></i> Video Services</a></li>
          <li><a id="alist4" href="#"><i aria-hidden="true"></i> Music Composition Services</a></li>
        </ul>
      </div>
      <div>
        <!-- Footer-links -->
        <ul id="list4">
          <li><strong>
              <!-- Footer Header -->
              <p class="hcolor">COMPANY</p>
            </strong></li>
          <li><a id="alist4" href="#"><i aria-hidden="true"></i> Home</a></li>
          <li><a id="alist4" href="#"><i aria-hidden="true"></i> About</a></li>
          <li><a id="alist4" href="#"><i aria-hidden="true"></i> Contact</a></li>
        </ul>
      </div>
      <div>
        <!-- Footer-links -->
        <ul class="whlist">
          <li><strong>
              <!-- Footer Header -->
              <p class="hcolor">CONTACT</p>
            </strong></li>
          <li class="clist"><i class="fa fa-phone" aria-hidden="true"></i> +91 8251017311</li>
          <li class="clist"><i class="fa fa-envelope-o" aria-hidden="true"></i> gkmusicofficials07@gmail.com</li>
          <li class="clist"><i class="fa fa-map-marker" aria-hidden="true"></i> Office no :- 6 ishwar kripa complex railway station road,katni,(M.P)</li>
        </ul>
      </div>

      <!-- social media links -->
      <div>
        <ul id="list3">
          <li class="circle"><a id="alist3" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li class="circle"> <a id="alist3" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li class="circle"><a id="alist3" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
          <li class="circle"><a id="alist3" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
    <div>
      <p id="paraa">Copyright © 2023 GKMusic | Music production company</p>
    </div>
  </footer>
</body>
</html>
